<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Customer Service Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="logout"> <a href="{{ url_for('logout') }}">Logout</a></div>
    <div class="dashboard-container">
        <h2>Welcome, {{ current_user.username }}</h2>
        

    </div>
    <h1>Customer Service Dashboard</h1>
    <div class="customer-info">
        <table>
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customer_data %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>   
    </div>
  
</body>
</html>
